@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Onest;
}

@layer utilities {
  .bghero {
    background-image: url('/Hero.png');
      background-size: contain;
      background-position: center;
  }
}
